.song_container{
	display: inline-block;
	width:50vw;
	margin-top:2.5vh;
	margin-left:5vw;
	float:left;
	color: black;
}
.song_container2{
	display: inline-block;
	width:50vw;
	color: black;
	margin-top:2.5vh;
	margin-left:17.5vw;
	float:left;
}
td{
	text-align: center;	
}
tbody tr{
	 transition: background 0.5s linear;
}
tbody tr:hover{
	background-color: #808080;
	color:white;
	cursor:pointer;
}
.back_btn{
	float:left;
	margin-top:1vh;
	margin-left:10vw;
	margin-top:3.5vh;
}